* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

p {
  font-size: 24px;
}

button {
  color: #fff;
  font-size: 24px;
  padding: 10px 30px;
  background-color: #5995DA;
  border: 1px solid black;
}

.nav-container {
  color: #fff;
  background-color: #3F474E;
  padding: 20px 30px;
}

.banner-container {
  background-color: #448ED1;
  color: #fff;
  height: 198px;
}

.box-container {

}

.footer-container {
  background-color: #3F474E;
  height: 204px;
}
